.list {
  text-align: center;
  list-style:none;
  padding-left: 0;
}

li {
  border-bottom: solid 1px rgb(160, 155, 155);
  margin-bottom: 5px;
}

.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  color: #8921BE;
  text-decoration: none;
}
.btn {
  display: flex;
  justify-content: flex-end;
}

.disabled{
  transform: translateY(-200px);
}

.active{
  width: 100%;
  transition-duration: 1s;
  transform: translateY(0px);
  background: rgb(213, 216, 216);
}
